@import "tailwindcss";

@keyframes pulseScale {
  0%,
  100% {
    transform: scale(1);
    transform: rotate(deg);
  }
  50% {
    transform: scale(1.05);
    transform: rotate(10deg);
  }
}

.pulse-scale {
  animation: pulseScale 3s ease-in-out infinite;
}

body{
  background-image: url('/assets/images/beer-bg.svg');
  background-position: center;
  background-size: 70px;
}